:root {
  font-family:' Verdana, Geneva, Tahoma, sans-serif';
  font-weight: 400;
  /* color-scheme: light dark;  */
  color: rgba(255, 255, 255);
  background-color: #0a0a0a;

}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 200px;
  display: flex;
  justify-content: center;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
   font-size: 4.2em; 
  /* line-height: 1.1; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

h2{
  display:flex;
  justify-content: center;
}

button {
  border-radius: 10px;
   /* border: 1px solid transparent; */
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.6em;

}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto ;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f1efef;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #b1adad;
  }
} 

.counter-box{
  border: 2px solid;
  padding: 20px;
  border-radius: 8px; 
  width: fit-content;
  margin: 20px auto;
  background-color: black;
}